/* global settings */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*   start navbar section style */

.login-btn {
    text-decoration: none;
    color: #2f2f41;
} 



.signup-btn {
    text-decoration: none;
    border-radius: .5rem;
    border: 1px solid #01a479;
    background-color: rgba(1,164,121,.1);
    color: #2f2f41;
    padding: .35rem 1rem;
    font-size: 13px;
    font-weight: 500;


}

.title-brand {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-right: 0;
  padding: 0;
}

/* end navbar section style */


/* star landing section style */
.landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info-box {
    width: 50%;

}

.img-box {
    width: 40%
}

.info-box h2 {
  color: #2f2f41;
  font-weight: 700;
  line-height: 1.3;
  font-size: 45px;
  margin-bottom: 20px;
}

.info-box a {
    text-decoration: none;
    background-color: rgba(1,164,121,.1);
    border: 1px solid #01a479;
    font-size: 15px;
    border-radius: 5px;
    color:#2f2f41;
    padding: .7rem 1.5rem;
    display: block;
    margin-bottom: 20px;
    width: fit-content;

}

.info-box p {
    color:#535353;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px ;
    border-left: 1px solid #01a479;
}

.img-box img {
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .landing-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 60px;
    }

    .info-box {
        width: 100%;
    
    }

    .img-box {
        width: 100%
    }
    .info-box h2 {
        color: #2f2f41;
        font-weight: 700;
        line-height: 1.3;
        font-size: 35px;
        margin-bottom: 20px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {background-color: yellow;}
    .info-box {
        width: 50%;
    
    }

    .img-box {
        width: 50%
    }
    .info-box h2 {
        
        font-size: 30px;
        
    }

  }

/* end landing section style */
/* Start services section style */
.services {
    display: flex;
    justify-content: space-between;

}

.services .col1 {
    width: 50%;
}

.services .col1 h3 {
    font-size: 30px;
    margin-bottom: 20px;

}


.services .col1 h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}


.services .col1 p {
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 30px;
}
.services .ser-box .ser1 {
    width: 45%;
    padding-left: 20px;
}

.services .ser-box .ser1 i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services .ser-box .ser1 h4 {
    font-size: 15px;
    font-weight: 500;
}

.services .ser-box .ser1 p {
    font-size: 12px;
    line-height: 1.7;

}
.services .ser-box .ser2 i {
    font-size: 50px;
    margin-bottom: 20px;
}

.services .ser-box .ser2 h4 {
    font-size: 15px;
    font-weight: 500;
}

.services .ser-box .ser2 p {
    font-size: 12px;
    line-height: 1.7;

}
.services .ser-box .ser2 {
    width: 45%;
    padding-left: 20px;
} 

.services .col2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.services .col1 .ser-box {
    display: flex;
    justify-content: space-between;
}

.services .col2 .ser-box {
    margin-bottom: 40px;
    padding: 20px;
    width: 60%;
}
.services .col2 .ser-box i {
    display: block;
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.services .col2 .ser-box h4{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;

}

.services .col2 .ser-box p {
    font-size: 12px;
    line-height: 1.7;
    color:#535353;

}


.services .col2 > a {
  border-radius: .5rem;
  padding: .7rem 1.5rem;
  background-color: rgba(1,164,121,.1);
  color: #2f2f41;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  text-align: center;
  border: 1px solid #01a479;
  margin-bottom: 40px;
  
}


/* responsive design */
@media only screen and (max-width: 600px){
    .services {
        display: flex ;
        flex-direction: column;
    }
    .services .col1 {
        width: 100%;
    }

    .services .col2 {
        width: 100%;
    }
    .services .col1 .ser-box {
        display: flex;
        flex-direction: column;
    }
    .services .ser-box .ser2  {
        width: 100%;
    }
    .services .ser-box .ser1 {
        width: 100%;
    }
    .services .col2 .ser-box {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .services .col1 {
        width: 60%
    }

    .services .col2 {
        width: 40%;
    }
    .services .ser-box .ser2  {
        width: 50%;
    }
    .services .ser-box .ser1 {
        width: 50%;
    }
    .services .col2 .ser-box {
        width: 100%;
    }

}


/* End services section style */

/* Start Style Perfect Solution */
.perfect_solution {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfect_solution .image {
    width: 55%;
}
.perfect_solution .perfect_content {
    width: 45%;
}



.perfect_solution .image img {
    width: 80%;
    height: 600px;
}



.perfect_solution .perfect_content h4 {
    font-size:35px;
    
}

.perfect_solution .perfect_content h5 {
    font-size:35px;
    font-weight: 550;
    
}

.perfect_solution .perfect_content  > p {
    font-size: 18px;
    color:#535353;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 40px;

}

.perfect_solution .perfect_content ul  {
    list-style: none;
    margin-bottom: 40px;
    
}

.perfect_solution .perfect_content ul li {
    position : relative;
    padding-right: 10px;
    
}

.perfect_solution .perfect_content ul .first::after {
    content : "";
    position: absolute;
    left: -30px ;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;

}

.perfect_solution .perfect_content ul .second::after {
    content : "";
    position: absolute;
    left: -30px ;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(255, 190, 48);

}

.perfect_solution .perfect_content ul li span {
    font-weight: 600;
    font-size: 14px;
    color:#2f2f41 ;

}

.perfect_solution .perfect_content ul li p {
    font-size: 12;
    font-family: 200;
    line-height: 1.7;
    margin-right: 10px;
    
}

.btn-animation {
    position: relative;  
    border-radius: .5rem;
    /* padding: .7rem 1.5rem; */
    color: #2f2f41;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
    text-align: center;
    border: 1px solid #01a479;
    
}
 .btn-animation::after {
    content: "";
    position: absolute;
    left:94%;
    bottom: 0;
    width: 8px;
    height: 8px;
    background-color:#01a479;
    border-radius: 50%;
    transition: all .5s ease-in-out 0s;;
    
}
.btn-animation:hover::after  {
    width : 100%;
    height: 100%;
    border-radius: .5rem;
    left:0;
    bottom: 0;
    color: white;
    z-index: -1;
}

.btn-animation:hover {
    color: white;
    transition: all .5s ease-in-out 0s;;
}

.perfect_solution .perfect_content a {
    position: relative;  
    border-radius: .5rem;
    padding: .7rem 1.5rem; 
    color: #2f2f41;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
    text-align: center;
    border: 1px solid #01a479;
    
    
}


@media only screen and (max-width: 700px){
    .perfect_solution {
        
        display: flex;
        flex-direction: column;
        gap : 50px;
        margin-top: 80px;
        
    }
    
    .perfect_solution .image {
        width: 100%;
    }
    .perfect_solution .perfect_content {
        width: 100%;
    }
    .perfect_solution .image img {
        width: 100%;
        height: 600px;
        
    }

}

/* End Perfect Solution */

/* Start style discover even */
.discover_even {
    text-align: center;
    margin-top: 200px;
    
}

.discover_even h4 {
    font-size: 30px;
}
.discover_even h5 {
    font-size: 30px;
    font-weight: 600;

}
.discover_even p {
    font-weight: 200;
    color: #535353;
}
.discover_even .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    column-gap: 20px;
    margin-top: 40px;

}

.discover_even .cards div {
    padding-top: 40px;
    padding-bottom: 40px ;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.discover_even .cards div:nth-of-type(1) {
    background-color: rgb(208, 250, 236);
};
}
.discover_even .cards div:nth-of-type(2) {
    background-color: rgb(255, 239, 248);
}
.discover_even .cards div:nth-of-type(3) {
    background-color: rgb(211, 246, 254);
}
.discover_even .cards div:nth-of-type(4) {
    background-color: rgb(255, 245, 217);
}
.discover_even .cards div:nth-of-type(5) {
    background-color: rgb(255, 222, 235);
}


.discover_even .rate-box {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}


.discover_even .rate-box div span {
    font-size: 30px;
    font-weight: bold;

}

.discover_even .rate-box div p {
    color:#535353;
    font-size: 15px;
}
@media only screen and (max-width: 700px) {
    .discover_even .rate-box {
        display: flex;
        flex-direction: column;
        column-gap: 20px
    }
    .discover_even {
        margin-top: 80px;
    }
    
}

/* End Style discover even */

/* End Style Perfect Solution */


/* Start style feedback-clients */
.client-feedback {
    margin-top: 200px;
    text-align: center;

}

.client-feedback h5 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 80px;
}


.client-feedback .gallery-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.client-feedback .gallery-box .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 20%;

}

.client-feedback .gallery-box .gallery img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(1,164,121,.3);

}

.client-feedback .feedbacks img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(1,164,121,.3);
    margin-bottom: 20px;
}


.client-feedback .feedbacks p {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.7;
    color: #535353;
}


/* End style feedback-clients */

/* Start Style section Blog */
.bloger {
    margin-top: 200px;

}

.bloger .blog-row1 {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: 40px;
}

.bloger .blog-row1 h4 {
    font-size: 30px;
}

.bloger .blog-row1 h5 {
    font-size: 30px;
    font-weight: 600;
}

.bloger .blog-row1 p {
    font-size: 17px;
    font-weight: 200;
    width: 500px;
    line-height: 1.9;
    color: #535353;
}

.bloger .blog-row1 a {
  position: relative;  
  border-radius: .5rem;
  padding: .7rem 1.5rem;
  color: #2f2f41;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  text-align: center;
  border: 1px solid #01a479;
  background-color:rgba(1,164,121,.1);;
} 

.bloger .blog-row2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
   
}

.bloger .blog-row2 .blog-card {
    box-shadow: 0 .5rem 1rem rgba(1,164,121,.3);
}
.bloger .blog-row2  .blog-card img {
    width: 100%;
}

.bloger .blog-row2  .blog-card .cards-text {
    padding: 25px;
}

.bloger .blog-row2  .blog-card .cards-text .parent{
    background-color: #fcfbf7 ;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 200;
    font-size: 16px;
}

.bloger .blog-row2  .blog-card .cards-text .parent span {
    color:#01a479;
    padding-right: 5px;


   
    
}

.bloger .blog-row2  .blog-card .cards-text  p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

.bloger .blog-row2  .blog-card .icons i {
    color:#01a479;
    font-size: 13px;
}

.bloger .blog-row2  .blog-card .icons a {
    color: black;
    font-weight: 200;
    text-decoration: none;
    margin-right: 15px;

}

@media only screen and (max-width: 780px) {
    .bloger {
        margin-top: 80px;
    
    }
    .bloger .blog-row1 {
        display: flex;
        flex-direction: column;
    }


}
@media only screen and (min-width: 400px) and (max-width: 780px) {


    .bloger .blog-row2  .blog-card .icons i {
        display: flex;
        flex-direction: column;
    }
}


/* End Style section Blog */


/* Start Style section register */
.register {
    margin-top: 200px;
    border: 1px solid #01a479;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#b3efdf;
}

.register h4 {
    font-size: 30px;
}

.register h5 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;

}

.register .form input {
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px;
}

.register .form a {  
  border-radius: .5rem;
  padding: .6rem 1.2rem;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  text-align: center;
  border: 1px solid #01a479;
  background-color:black;;

} 

.register p {
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0;
    font-weight: 300;

}

@media only screen and (max-width: 780px){
    .register {
        margin-top: 80px;
    }
    .register .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .register .form input {
        width: 100%;
    }
}

/* End Style section register */


/* Start style section description */
.description {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}

.description .row1 {
  width: 30%;

}

.description .row1 h4 {
    font-size : 30px;
    margin-bottom: 20px;
}

.description .row1 h4 span{
    color:#01a479;
}

.description .row1 p {
    font-size: 14px;
    color: #535353;
    font-weight: 400;
    line-height: 1.7;
    
}
.description .row1 .social-icons i {
    font-size: 11px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #535353;
    padding: 5px;

}

.description .row2 {
    display: flex;
    justify-content: space-between;
    width: 65%
}

.description .row2 ul {
    list-style: none;
}
.description .row2 ul li {
    margin-bottom: 15px;
    color:#535353;
    font-size: 15px;
}
.description .row2 ul li:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px){
    .description {
        display: flex;
        flex-direction: column;
    }
    .description .row1 {
        width: 100%;
        margin-bottom: 30px;
    }

    .description .row2 {
        width: 100%;
    }

    .description .row2 ul {
        margin-left: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 480px){
    .description .row2{
        display: flex;
        flex-direction: column;
    }
}



/* End style section descriptiion */






footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color:#535353;
    font-size: 15px;

}

footer p span {
    color:#01a479;

}

footer ul {
    list-style: none;

}


footer ul li {
    margin-right: 20px;
    color: #535353;
    font-size: 15px;
}
@media only screen and (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


/* End style section description */