/* global settings */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*   start navbar section style */

.login-btn {
    text-decoration: none;
    color: #2f2f41;
} 



.signup-btn {
    text-decoration: none;
    border-radius: .5rem;
    border: 1px solid #01a479;
    background-color: rgba(1,164,121,.1);
    color: #2f2f41;
    padding: .35rem 1rem;
    font-size: 13px;
    font-weight: 500;


}

.title-brand {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-right: 0;
  padding: 0;
}

/* end navbar section style */


/* star landing section style */
.landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-box , .img-box {
    width: 50%;

}

.info-box h2 {
  color: #2f2f41;
  font-weight: 700;
  line-height: 1.3;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.info-box a {
    text-decoration: none;
    background-color: rgba(1,164,121,.1);
    border: 1px solid #01a479;
    font-size: 15px;
    border-radius: 5px;
    color:#2f2f41;
    padding: .7rem 1.5rem;
    display: block;
    margin-bottom: 20px;
    width: fit-content;

}

.info-box p {
    color:#535353;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px ;
    border-left: 1px solid #01a479;
}

.img-box img {
    width: 100%;
}

/* end landing section style */
/* Start services section style */
.services {
    display: flex;
    justify-content: space-between;

}

.services .col1 {
    max-width: 50%;
}

.services .col1 h3 {
    font-size: 30px;
    margin-bottom: 20px;

}


.services .col1 h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}


.services .col1 p {
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 30px;
}
.services .ser-box .ser1 {
    max-width: 45%;
    padding-left: 20px;
}

.services .ser-box .ser1 i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services .ser-box .ser1 h4 {
    font-size: 15px;
    font-weight: 500;
}

.services .ser-box .ser1 p {
    font-size: 12px;
    line-height: 1.7;

}
.services .ser-box .ser2 i {
    font-size: 50px;
    margin-bottom: 20px;
}

.services .ser-box .ser2 h4 {
    font-size: 15px;
    font-weight: 500;
}

.services .ser-box .ser2 p {
    font-size: 12px;
    line-height: 1.7;

}
.services .ser-box .ser2 {
    max-width: 45%;
    padding-left: 20px;
} 

.services .col2 {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.services .col1 .ser-box {
    display: flex;
    justify-content: space-between;
}

.services .col2 .ser-box {
    margin-bottom: 40px;
    padding: 20px;
    width: 60%;
}
.services .col2 .ser-box i {
    display: block;
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.services .col2 .ser-box h4{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;

}

.services .col2 .ser-box p {
    font-size: 12px;
    line-height: 1.7;
    color:#535353;

}


.services .col2 > a {
  border-radius: .5rem;
  padding: .7rem 1.5rem;
  background-color: rgba(1,164,121,.1);
  color: #2f2f41;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  text-align: center;
  border: 1px solid #01a479;
  
}

/* End services section style */

/* Start Style Perfect Solution */
.perfect_solution {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfect_solution .image img {
    width: 100%;
    height: 600px;
}






/* End Style Perfect Solution */